## Loading a file; Working with lists; Enumerating; Sequencing thru multiple lists at once with zip


This command is just to make the screen display wider so you can see the records without them wrapping

In [27]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important; }</style>"))

Read in csv file as data which then creates data as a list with a first row (record) as 0 containing the column headings

In [4]:
with open("userssharedsdfschoolimprovement2010grants.csv", 'r') as f:
    data = f.readlines()

In [5]:
type(data)

list

In [6]:
data[0]

'School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location\n'

In [8]:
data[0:10]

['School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location\n',
 'HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN ST\n',
 'SAVOONGA, AK 99769\n',
 '(63.6687, -170.603)"\n',
 'AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,$520579.00,Transformation,"AKIACHAK 51100\n',
 'AKIACHAK, AK 99551\n',
 '(60.8911, -161.376)"\n',
 'GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,$449592.00,Transformation,"169 MAIN ST\n',
 'GAMBELL, AK 99742\n',
 '(63.7413, -171.689)"\n']

Test - believe each record is 3 lines in the CSV file.  Divide lines less 1 (because it is the header row) divides evenly by 3

In [9]:
(len(data)-1)/3

831.0

Verify that the total lines expected in the CSV file is what is in the CSV file

In [10]:
831 * 3 + 1

2494

Assign the first row which is the header info to columns

In [11]:
columns = data[0]

In [12]:
columns

'School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location\n'

In [14]:
data[1:22]

['HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN ST\n',
 'SAVOONGA, AK 99769\n',
 '(63.6687, -170.603)"\n',
 'AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,$520579.00,Transformation,"AKIACHAK 51100\n',
 'AKIACHAK, AK 99551\n',
 '(60.8911, -161.376)"\n',
 'GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,$449592.00,Transformation,"169 MAIN ST\n',
 'GAMBELL, AK 99742\n',
 '(63.7413, -171.689)"\n',
 'BURCHELL HIGH SCHOOL,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$641184.00,Transformation,"1775 WEST PARKS HWY\n',
 'WASILLA, AK 99654\n',
 '(61.5794, -149.495)"\n',
 'AKIAK SCHOOL,AKIAK,AK,YUPIIT SCHOOL DISTRICT,$399686.00,Transformation,"AKIAK 5227\n',
 'AKIAK, AK 99552\n',
 '(60.8879, -161.2)"\n',
 'MIDVALLEY HIGH,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$697703.00,Restart,"7362 WEST PARKS HWY 725\n',
 'WASILLA, AK 99654\n',
 '(61.5023, -149.796)"\n',
 'TULUKSAK SCHOOL,TULUKSAK,AK,YUPIIT SCHOOL DISTRICT,$427658.00,Transformation,"TULUKSAK 115\n',
 'TULUKSAK, AK 99679\n',
 '(61.1001, -160.961)"\n']

Above code read the first 21 lines of data.  Now going to have the first 21 lines read - but only every 3 lines - which if data is organized as expected it should be listing the schools.

In [15]:
data[1:22:3]

['HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN ST\n',
 'AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,$520579.00,Transformation,"AKIACHAK 51100\n',
 'GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,$449592.00,Transformation,"169 MAIN ST\n',
 'BURCHELL HIGH SCHOOL,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$641184.00,Transformation,"1775 WEST PARKS HWY\n',
 'AKIAK SCHOOL,AKIAK,AK,YUPIIT SCHOOL DISTRICT,$399686.00,Transformation,"AKIAK 5227\n',
 'MIDVALLEY HIGH,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$697703.00,Restart,"7362 WEST PARKS HWY 725\n',
 'TULUKSAK SCHOOL,TULUKSAK,AK,YUPIIT SCHOOL DISTRICT,$427658.00,Transformation,"TULUKSAK 115\n']

In [18]:
len(data[1:22:3])

7

In [19]:
data[2:22:3]

['SAVOONGA, AK 99769\n',
 'AKIACHAK, AK 99551\n',
 'GAMBELL, AK 99742\n',
 'WASILLA, AK 99654\n',
 'AKIAK, AK 99552\n',
 'WASILLA, AK 99654\n',
 'TULUKSAK, AK 99679\n']

In [20]:
len(data[2:22:3])

7

In [21]:
data[3:22:3]

['(63.6687, -170.603)"\n',
 '(60.8911, -161.376)"\n',
 '(63.7413, -171.689)"\n',
 '(61.5794, -149.495)"\n',
 '(60.8879, -161.2)"\n',
 '(61.5023, -149.796)"\n',
 '(61.1001, -160.961)"\n']

In [22]:
len(data[3:22:3])

7

In [25]:
for part_1, part_2, part_3 in zip(data[1:22:3], data[2:22:3], data[3:33:3]):
    print(part_1, part_2, part_3)
    print("=====")
    print()

HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN ST
 SAVOONGA, AK 99769
 (63.6687, -170.603)"

=====

AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,$520579.00,Transformation,"AKIACHAK 51100
 AKIACHAK, AK 99551
 (60.8911, -161.376)"

=====

GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,$449592.00,Transformation,"169 MAIN ST
 GAMBELL, AK 99742
 (63.7413, -171.689)"

=====

BURCHELL HIGH SCHOOL,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$641184.00,Transformation,"1775 WEST PARKS HWY
 WASILLA, AK 99654
 (61.5794, -149.495)"

=====

AKIAK SCHOOL,AKIAK,AK,YUPIIT SCHOOL DISTRICT,$399686.00,Transformation,"AKIAK 5227
 AKIAK, AK 99552
 (60.8879, -161.2)"

=====

MIDVALLEY HIGH,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$697703.00,Restart,"7362 WEST PARKS HWY 725
 WASILLA, AK 99654
 (61.5023, -149.796)"

=====

TULUKSAK SCHOOL,TULUKSAK,AK,YUPIIT SCHOOL DISTRICT,$427658.00,Transformation,"TULUKSAK 115
 TULUKSAK, AK 99679
 (61.1001, -160.961)"

=====

The records are just strings so they can be concatonated. Then replace the new line command \n with a blank character so the records are all on one line.  The other way to remove the new line character instead of .replace("\n", "") would have been to do .strip() BUT that only works on the end of records.  So since we didn't strip this data prior to adding, it wouldn't work below.

In [26]:
for part_1, part_2, part_3 in zip(data[1:2:3], data[2:22:3], data[3:22:3]):
    record = (part_1 + part_2 + part_3).replace("\n", "")
    print(record)

HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN STSAVOONGA, AK 99769(63.6687, -170.603)"

Creat list, slice data, zip data and then clean up data.  Deleting the 22 (last line of test data) and leaving it blank will use all data.

In [32]:
records = []

for part_1, part_2, part_3 in zip(data[1::3], data[2::3], data[3::3]):
    record = (part_1 + part_2 + part_3)
    record = record.replace("\n", "")
    records.append(record)

In [33]:
len(records)

831

# List Comprehension
 Line 34 is an example.  Following that works on our data - and essentially does the same thing as above, but with fewer keystrokes

In [34]:
[i for i in range(1,50) if i % 2 == 0 ]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [36]:
records = [ (x+y+z).replace("\n", "") for x,y,z in zip(data[1::3], data[2::3], data[3::3]) ]

In [37]:
len(records)

831

In [38]:
for record in records[0:10]:
    print(record)

HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN STSAVOONGA, AK 99769(63.6687, -170.603)"
AKIACHAK SCHOOL,AKIACHAK,AK,YUPIIT SCHOOL DISTRICT,$520579.00,Transformation,"AKIACHAK 51100AKIACHAK, AK 99551(60.8911, -161.376)"
GAMBELL SCHOOL,GAMBELL,AK,BERING STRAIT SCHOOL DISTRICT,$449592.00,Transformation,"169 MAIN STGAMBELL, AK 99742(63.7413, -171.689)"
BURCHELL HIGH SCHOOL,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$641184.00,Transformation,"1775 WEST PARKS HWYWASILLA, AK 99654(61.5794, -149.495)"
AKIAK SCHOOL,AKIAK,AK,YUPIIT SCHOOL DISTRICT,$399686.00,Transformation,"AKIAK 5227AKIAK, AK 99552(60.8879, -161.2)"
MIDVALLEY HIGH,WASILLA,AK,MATANUSKA-SUSITNA BOROUGH SCHOOL DISTRICT,$697703.00,Restart,"7362 WEST PARKS HWY 725WASILLA, AK 99654(61.5023, -149.796)"
TULUKSAK SCHOOL,TULUKSAK,AK,YUPIIT SCHOOL DISTRICT,$427658.00,Transformation,"TULUKSAK 115TULUKSAK, AK 99679(61.1001, -160.961)"
CAPITOL HEIGHTS JR HIGH SCH,MONTGOMERY,AL,MONTGOMERY COUNTY,$110544.00,Transformation,"116 FEDERAL DRMONTGOMERY, AL 36107(32.3821, -86.2724)"
LOWNDES CO MIDDLE SCH,FORT DEPOSIT,AL,LOWNDES COUNTY,$12973.00,Transformation,"510 MONTGOMERY STFORT DEPOSIT, AL 36032(31.9948, -86.5905)"
CENTRAL MIDDLE SCH,ROCKFORD,AL,COOSA COUNTY,$199828.00,Transformation,"ROUTE 2BOX 65ROCKFORD, AL 35136(32.8928, -86.1552)"

In [39]:
columns

'School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location\n'

Below will strip out the line break at the end and have the line break at the comma

In [41]:
columns.strip().split(",")

['School Name',
 'City',
 'State',
 'District Name',
 '2010/11/Award Amount',
 'Model Selected',
 'Location']

A set is a unique sequence.  You can use set to test data.  Below, expected 7 as there are 7 "columns" of data in our file, but got 9.

In [45]:
number_of_fields = set()

for record in records[0:10]:
    number_of_fields.add(
        len( record.split(",") )
    )
number_of_fields

{9}

In [46]:
number_of_fields = set()

for record in records:
    number_of_fields.add(
        len( record.split(",") )
    )
number_of_fields

{9, 10, 11}

So let's test a single line to see what's happening

In [47]:
records[0]

'HOGARTH KINGEEKUK MEMORIAL SCHOOL,SAVOONGA,AK,BERING STRAIT SCHOOL DISTRICT,$471014.00,Transformation,"200 MAIN STSAVOONGA, AK 99769(63.6687, -170.603)"'

In [48]:
records[0].split(',')

['HOGARTH KINGEEKUK MEMORIAL SCHOOL',
 'SAVOONGA',
 'AK',
 'BERING STRAIT SCHOOL DISTRICT',
 '$471014.00',
 'Transformation',
 '"200 MAIN STSAVOONGA',
 ' AK 99769(63.6687',
 ' -170.603)"']

The Location field in the record is contained in quotes and inside of that, there are commas.  That means that this needs to be treated differently so that the data is sorted and behaves as expected when using it.  Our assignment isn't to load all data so we'll get back to this.  Right now, just want data specific to the Philadelphia School District.  So go back to data and see how to find just what we need.

In [49]:
for record in records:
    if "PHILADELPHIA CITY SD" in record:
        print(record)

SAYRE WILLIAM L MS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$737032.00,Transformation,"5800 WALNUT STPHILADELPHIA, PA 19139(39.9584, -75.2375)"
KING MARTIN LUTHER HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$786964.00,Transformation,"6100 STENTON AVEPHILADELPHIA, PA 19138(40.0577, -75.1622)"
DOUGLAS STEPHEN A SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$319320.00,Restart,"2700 EAST HUNTINGDON STPHILADELPHIA, PA 19125(39.9767, -75.1168)"
LOCKE ALAIN SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$390938.00,Transformation,"4550 HAVERFORD AVEPHILADELPHIA, PA 19139(39.9625, -75.2136)"
ALCORN JAMES SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$338726.00,Transformation,"3200 DICKINSON STPHILADELPHIA, PA 19146(39.9354, -75.1973)"
GERMANTOWN HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$798792.00,Transformation,"40 EAST HIGH STPHILADELPHIA, PA 19144(40.0401, -75.1769)"
ROXBOROUGH HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$641440.00,Transformation,"6498 RIDGE AVEPHILADELPHIA, PA 19128(40.0381, -75.2228)"
UNIVERSITY CITY HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$923999.00,Turnaround,"3601 FILBEROUTE STPHILADELPHIA, PA 19104(39.957, -75.1941)"
SMEDLEY FRANKLIN SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$362773.00,Restart,"1790 BRIDGE STPHILADELPHIA, PA 19124(40.0198, -75.0735)"
WEST PHILADELPHIA HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$671142.00,Transformation,"4700 WALNUT STPHILADELPHIA, PA 19139(39.9557, -75.2157)"
HARRITY WILLIAM F SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$980283.00,Restart,"5601 CHRISTIAN STPHILADELPHIA, PA 19143(39.9485, -75.2355)"
FRANKFORD HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$792001.00,Transformation,"5000 OXFORD AVEPHILADELPHIA, PA 19124(40.0225, -75.0845)"
VAUX ROBERTS HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$466665.00,Turnaround,"2300 WEST MASTER STPHILADELPHIA, PA 19121(39.9763, -75.1735)"
CLEMENTE ROBERTO MS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$333327.00,Turnaround,"122 WEST ERIE AVEPHILADELPHIA, PA 19140(40.0074, -75.1283)"
FELS SAMUEL HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$974132.00,Transformation,"901 DEVEREAUX AVEPHILADELPHIA, PA 19111(40.0417, -75.0883)"
ALLEN DR ETHEL SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$247020.00,Turnaround,"3200 WEST LEHIGH AVEPHILADELPHIA, PA 19132(39.9977, -75.1836)"
FELTONVILLE INTERMEDIATE SCHOOL,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$244855.00,Transformation,"4901 RISING SUN AVEPHILADELPHIA, PA 19120(40.0246, -75.1231)"
SOUTH PHILADELPHIA HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$579958.00,Transformation,"2101 SOUTH BRD STPHILADELPHIA, PA 19148(39.9244, -75.1697)"
OLNEY HS WEST,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$272245.00,Transformation,"100 WEST DUNCANNON AVEPHILADELPHIA, PA 19120(40.0292, -75.1228)"
EDISON HS/FAREIRA SKILLS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$1.00,Transformation,"151 WEST LUZERNE STPHILADELPHIA, PA 19140(40.0111, -75.1286)"
STETSON JOHN B MS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$888708.00,Restart,"3200 B STPHILADELPHIA, PA 19134(39.9981, -75.1254)"
DAROFF SAMUEL SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$658247.00,Restart,"5630 VINE STPHILADELPHIA, PA 19139(39.9657, -75.2326)"
BLUFORD GUION EL SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$907129.00,Restart,"5801 MEDIA STPHILADELPHIA, PA 19131(39.9748, -75.2366)"
CLYMER GEORGE SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$392068.00,Transformation,"1201 WEST RUSH STPHILADELPHIA, PA 19133(39.9956, -75.1504)"
MANN WILLIAM B SCH,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$794021.00,Restart,"5376 WEST BERKS STPHILADELPHIA, PA 19131(39.986, -75.2314)"
GRATZ SIMON HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$508486.00,Transformation,"1798 WEST HUNTING PARK AVEPHILADELPHIA, PA 19140(40.0146, -75.1566)"
LINCOLN HS,PHILADELPHIA,PA,PHILADELPHIA CITY SD,$14.00,Transformation,"3201 RYAN AVEPHILADELPHIA, PA 19136(40.0403, -75.0433)"

In [50]:
number_of_fields = set()
for record in records:
    if "PHILADELPHIA CITY SD" in record:
        number_of_fields.add(len(record.split(",")))
number_of_fields

{9}

OK, we are good.  All records have the same number of fields.  Now we need to get what we want from the data

In [51]:
for record in records:
    if "PHILADELPHIA CITY SD" in record:
        fields = record.split(",")
        print( fields)

['SAYRE WILLIAM L MS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$737032.00', 'Transformation', '"5800 WALNUT STPHILADELPHIA', ' PA 19139(39.9584', ' -75.2375)"']
['KING MARTIN LUTHER HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$786964.00', 'Transformation', '"6100 STENTON AVEPHILADELPHIA', ' PA 19138(40.0577', ' -75.1622)"']
['DOUGLAS STEPHEN A SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$319320.00', 'Restart', '"2700 EAST HUNTINGDON STPHILADELPHIA', ' PA 19125(39.9767', ' -75.1168)"']
['LOCKE ALAIN SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$390938.00', 'Transformation', '"4550 HAVERFORD AVEPHILADELPHIA', ' PA 19139(39.9625', ' -75.2136)"']
['ALCORN JAMES SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$338726.00', 'Transformation', '"3200 DICKINSON STPHILADELPHIA', ' PA 19146(39.9354', ' -75.1973)"']
['GERMANTOWN HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$798792.00', 'Transformation', '"40 EAST HIGH STPHILADELPHIA', ' PA 19144(40.0401', ' -75.1769)"']
['ROXBOROUGH HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$641440.00', 'Transformation', '"6498 RIDGE AVEPHILADELPHIA', ' PA 19128(40.0381', ' -75.2228)"']
['UNIVERSITY CITY HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$923999.00', 'Turnaround', '"3601 FILBEROUTE STPHILADELPHIA', ' PA 19104(39.957', ' -75.1941)"']
['SMEDLEY FRANKLIN SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$362773.00', 'Restart', '"1790 BRIDGE STPHILADELPHIA', ' PA 19124(40.0198', ' -75.0735)"']
['WEST PHILADELPHIA HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$671142.00', 'Transformation', '"4700 WALNUT STPHILADELPHIA', ' PA 19139(39.9557', ' -75.2157)"']
['HARRITY WILLIAM F SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$980283.00', 'Restart', '"5601 CHRISTIAN STPHILADELPHIA', ' PA 19143(39.9485', ' -75.2355)"']
['FRANKFORD HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$792001.00', 'Transformation', '"5000 OXFORD AVEPHILADELPHIA', ' PA 19124(40.0225', ' -75.0845)"']
['VAUX ROBERTS HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$466665.00', 'Turnaround', '"2300 WEST MASTER STPHILADELPHIA', ' PA 19121(39.9763', ' -75.1735)"']
['CLEMENTE ROBERTO MS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$333327.00', 'Turnaround', '"122 WEST ERIE AVEPHILADELPHIA', ' PA 19140(40.0074', ' -75.1283)"']
['FELS SAMUEL HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$974132.00', 'Transformation', '"901 DEVEREAUX AVEPHILADELPHIA', ' PA 19111(40.0417', ' -75.0883)"']
['ALLEN DR ETHEL SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$247020.00', 'Turnaround', '"3200 WEST LEHIGH AVEPHILADELPHIA', ' PA 19132(39.9977', ' -75.1836)"']
['FELTONVILLE INTERMEDIATE SCHOOL', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$244855.00', 'Transformation', '"4901 RISING SUN AVEPHILADELPHIA', ' PA 19120(40.0246', ' -75.1231)"']
['SOUTH PHILADELPHIA HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$579958.00', 'Transformation', '"2101 SOUTH BRD STPHILADELPHIA', ' PA 19148(39.9244', ' -75.1697)"']
['OLNEY HS WEST', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$272245.00', 'Transformation', '"100 WEST DUNCANNON AVEPHILADELPHIA', ' PA 19120(40.0292', ' -75.1228)"']
['EDISON HS/FAREIRA SKILLS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$1.00', 'Transformation', '"151 WEST LUZERNE STPHILADELPHIA', ' PA 19140(40.0111', ' -75.1286)"']
['STETSON JOHN B MS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$888708.00', 'Restart', '"3200 B STPHILADELPHIA', ' PA 19134(39.9981', ' -75.1254)"']
['DAROFF SAMUEL SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$658247.00', 'Restart', '"5630 VINE STPHILADELPHIA', ' PA 19139(39.9657', ' -75.2326)"']
['BLUFORD GUION EL SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$907129.00', 'Restart', '"5801 MEDIA STPHILADELPHIA', ' PA 19131(39.9748', ' -75.2366)"']
['CLYMER GEORGE SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$392068.00', 'Transformation', '"1201 WEST RUSH STPHILADELPHIA', ' PA 19133(39.9956', ' -75.1504)"']
['MANN WILLIAM B SCH', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$794021.00', 'Restart', '"5376 WEST BERKS STPHILADELPHIA', ' PA 19131(39.986', ' -75.2314)"']
['GRATZ SIMON HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$508486.00', 'Transformation', '"1798 WEST HUNTING PARK AVEPHILADELPHIA', ' PA 19140(40.0146', ' -75.1566)"']
['LINCOLN HS', 'PHILADELPHIA', 'PA', 'PHILADELPHIA CITY SD', '$14.00', 'Transformation', '"3201 RYAN AVEPHILADELPHIA', ' PA 19136(40.0403', ' -75.0433)"']

In [52]:
columns

'School Name,City,State,District Name,2010/11/Award Amount,Model Selected,Location\n'

Now we'll use a dictionary function to get what we need'

In [53]:
dataset = {
    "SCHOOL_NAME":  [],
    "AMOUNT":       [],
    "MODEL":        []
}

In [54]:
type(dataset["MODEL"])

list

In [55]:
dataset = {
     "SCHOOL_NAME":  [],
    "AMOUNT":       [],
    "MODEL":        []
}

for record in records:
    if "PHILADELPHIA CITY SD" in record:
        fields = record.split(",")
        
        school_name = fields[0]
        amount      = fields[4]
        model       = fields[5]
        
        print(school_name, amount, model)

SAYRE WILLIAM L MS $737032.00 Transformation
KING MARTIN LUTHER HS $786964.00 Transformation
DOUGLAS STEPHEN A SCH $319320.00 Restart
LOCKE ALAIN SCH $390938.00 Transformation
ALCORN JAMES SCH $338726.00 Transformation
GERMANTOWN HS $798792.00 Transformation
ROXBOROUGH HS $641440.00 Transformation
UNIVERSITY CITY HS $923999.00 Turnaround
SMEDLEY FRANKLIN SCH $362773.00 Restart
WEST PHILADELPHIA HS $671142.00 Transformation
HARRITY WILLIAM F SCH $980283.00 Restart
FRANKFORD HS $792001.00 Transformation
VAUX ROBERTS HS $466665.00 Turnaround
CLEMENTE ROBERTO MS $333327.00 Turnaround
FELS SAMUEL HS $974132.00 Transformation
ALLEN DR ETHEL SCH $247020.00 Turnaround
FELTONVILLE INTERMEDIATE SCHOOL $244855.00 Transformation
SOUTH PHILADELPHIA HS $579958.00 Transformation
OLNEY HS WEST $272245.00 Transformation
EDISON HS/FAREIRA SKILLS $1.00 Transformation
STETSON JOHN B MS $888708.00 Restart
DAROFF SAMUEL SCH $658247.00 Restart
BLUFORD GUION EL SCH $907129.00 Restart
CLYMER GEORGE SCH $392068.00 Transformation
MANN WILLIAM B SCH $794021.00 Restart
GRATZ SIMON HS $508486.00 Transformation
LINCOLN HS $14.00 Transformation

But the dollars are strings, not numbers so we need to conver them to numbers.  We need to slice it to remove the $ and then turn it in to a number.

In [65]:
dataset = {
      "SCHOOL_NAME":  [],
      "AMOUNT"     :  [],
      "MODEL"      :  []
}

for record in records:
    if "PHILADELPHIA CITY SD" in record:
        fields = record.split(",")
        
        school_name = fields[0]
        amount      = float(fields[4][1:])
        model       = fields[5]
        
        print(school_name, amount, model)

SAYRE WILLIAM L MS 737032.0 Transformation
KING MARTIN LUTHER HS 786964.0 Transformation
DOUGLAS STEPHEN A SCH 319320.0 Restart
LOCKE ALAIN SCH 390938.0 Transformation
ALCORN JAMES SCH 338726.0 Transformation
GERMANTOWN HS 798792.0 Transformation
ROXBOROUGH HS 641440.0 Transformation
UNIVERSITY CITY HS 923999.0 Turnaround
SMEDLEY FRANKLIN SCH 362773.0 Restart
WEST PHILADELPHIA HS 671142.0 Transformation
HARRITY WILLIAM F SCH 980283.0 Restart
FRANKFORD HS 792001.0 Transformation
VAUX ROBERTS HS 466665.0 Turnaround
CLEMENTE ROBERTO MS 333327.0 Turnaround
FELS SAMUEL HS 974132.0 Transformation
ALLEN DR ETHEL SCH 247020.0 Turnaround
FELTONVILLE INTERMEDIATE SCHOOL 244855.0 Transformation
SOUTH PHILADELPHIA HS 579958.0 Transformation
OLNEY HS WEST 272245.0 Transformation
EDISON HS/FAREIRA SKILLS 1.0 Transformation
STETSON JOHN B MS 888708.0 Restart
DAROFF SAMUEL SCH 658247.0 Restart
BLUFORD GUION EL SCH 907129.0 Restart
CLYMER GEORGE SCH 392068.0 Transformation
MANN WILLIAM B SCH 794021.0 Restart
GRATZ SIMON HS 508486.0 Transformation
LINCOLN HS 14.0 Transformation

In [78]:
clear(dataset)

In [152]:
dataset = {
      "SCHOOL_NAME":  [],
      "AMOUNT"     :  [],
      "MODEL"      :  []
}

for record in records:
    if "PHILADELPHIA CITY SD" in record:
        fields = record.split(",")
        
        school_name = fields[0]
        amount      = float(fields[4][1:])
        model       = fields[5]
        
        dataset["SCHOOL_NAME"].append(school_name)
        dataset["AMOUNT"].append(amount)
        dataset["MODEL"].append(model)

dataset        
# print(dataset)

{'AMOUNT': [737032.0,
  786964.0,
  319320.0,
  390938.0,
  338726.0,
  798792.0,
  641440.0,
  923999.0,
  362773.0,
  671142.0,
  980283.0,
  792001.0,
  466665.0,
  333327.0,
  974132.0,
  247020.0,
  244855.0,
  579958.0,
  272245.0,
  1.0,
  888708.0,
  658247.0,
  907129.0,
  392068.0,
  794021.0,
  508486.0,
  14.0],
 'MODEL': ['Transformation',
  'Transformation',
  'Restart',
  'Transformation',
  'Transformation',
  'Transformation',
  'Transformation',
  'Turnaround',
  'Restart',
  'Transformation',
  'Restart',
  'Transformation',
  'Turnaround',
  'Turnaround',
  'Transformation',
  'Turnaround',
  'Transformation',
  'Transformation',
  'Transformation',
  'Transformation',
  'Restart',
  'Restart',
  'Restart',
  'Transformation',
  'Restart',
  'Transformation',
  'Transformation'],
 'SCHOOL_NAME': ['SAYRE WILLIAM L MS',
  'KING MARTIN LUTHER HS',
  'DOUGLAS STEPHEN A SCH',
  'LOCKE ALAIN SCH',
  'ALCORN JAMES SCH',
  'GERMANTOWN HS',
  'ROXBOROUGH HS',
  'UNIVERSITY CITY HS',
  'SMEDLEY FRANKLIN SCH',
  'WEST PHILADELPHIA HS',
  'HARRITY WILLIAM F SCH',
  'FRANKFORD HS',
  'VAUX ROBERTS HS',
  'CLEMENTE ROBERTO MS',
  'FELS SAMUEL HS',
  'ALLEN DR ETHEL SCH',
  'FELTONVILLE INTERMEDIATE SCHOOL',
  'SOUTH PHILADELPHIA HS',
  'OLNEY HS WEST',
  'EDISON HS/FAREIRA SKILLS',
  'STETSON JOHN B MS',
  'DAROFF SAMUEL SCH',
  'BLUFORD GUION EL SCH',
  'CLYMER GEORGE SCH',
  'MANN WILLIAM B SCH',
  'GRATZ SIMON HS',
  'LINCOLN HS']}

In [153]:
min(dataset["AMOUNT"])

1.0

In [154]:
max(dataset["AMOUNT"])

980283.0

In [155]:
sum(dataset["AMOUNT"])

15010286.0

In [178]:
philly_schools = 0                               #this is the number of schools but not necessarily unique schools

for record in records:
    if "PHILADELPHIA CITY SD" in record:
        philly_schools = philly_schools + 1
          
        
print(philly_schools)
type(philly_schools)

27

int

In [157]:
x = sum(dataset["AMOUNT"])/philly_schools        #this is the mean = sum of grants divided by number of grants
print (x)

555936.5185185185

In [194]:
x = sum(dataset["AMOUNT"])/philly_schools        #this formula is for population standard deviation

y = 0
for record in records:
    if "PHILADELPHIA CITY SD" in record:
        fields = record.split(",")
        
        amount      = float(fields[4][1:]) 
        
        y = y + ((amount - x)**2)
        
z = ((y/philly_schools)**(1/2))

print(z)

282765.19336621836

In [195]:
x = sum(dataset["AMOUNT"])/philly_schools        #this formula is for sample standard deviation

b = 0
for record in records:
    if "PHILADELPHIA CITY SD" in record:
        fields = record.split(",")

        amount      = float(fields[4][1:]) 
        
        b = b + ((amount - x)**2)

q = ((b/(philly_schools-1))**(1/2))
     
     
print(q)

288151.68105362233